<!doctype html>
<html>
  <head>
      <title>FoxChatter</title>
      <link rel="stylesheet" type="text/css" href="/css/global.css">
      <link rel="stylesheet" type="text/css" href="/css/index.css">

      <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
  </head>
  <style>
    body  {
      background-image: url("images/bridge.png");
      background-color: #473a3a;
    }
  </style>
  <body>
      <h1 id="splash_title">FoxChatter</h1>
      <p class="menu_button background_button" id="fade_text">Press Space Bar to Start</p>

      <script src="/js/global.js"></script>
      <script src="/js/index.js"></script>
      
  </body>
</html>
